html{
    overflow-x: hidden;
}
.mobile-header{
    display: none;
    padding: 2% 3%;
}
@media only screen and (max-width: 768px) {
    .sidebar-bloque{
        display: none;
    }
    .logo-bloque-mobile{
        width: 150px;
        height: 70px;
    }
    .mobile-header{
        display: flex;
        align-items: center;
        width: 100%;
    }
}
.navigation-links, .navigation-links-bloque{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:  0  !important;
	padding-top: 1% !important;
}
.navigation-links>a{
	/*padding-left: 4%;
	padding-top: 13%;*/

    font-family: work-sans,sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 14px;
    color: #888c9dbf;
    transition: all 0.2s ease-in-out;
}
.navigation-links>a:hover{
	text-decoration: none;
	color: #6438b5;
	transition: all 0.2s ease-in-out;
}

.margin-left{
	margin-left: 0px !important;
}

/* Side Navigation Bar */
.box-shadow-none{
	box-shadow: 0 !important;
}
.mobile-dropdown{
    width: 100%;
    z-index: 55;
}
.mobile-dropdown>a{
    list-style-type: disc;
    padding: 2% 3%;
    font-size: 20px;
    transition: all 0.25s ease-in-out;
}
.mobile-dropdown>a:hover{
    background-color: black;
    transition: all 0.25s ease-in-out;
}
.sidenav {
	-webkit-box-shadow: 10px 0px 16px -3px rgba(0,0,0,0.79); 
	box-shadow: 10px 0px 16px -3px rgba(0,0,0,0.09);
	height: 100%; /* 100% Full-height */
	width: 280px;
	 margin-left:-280px;/* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: white; /* Black or #f2f7fd*/ 
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav-btc{
	padding-left: 13%;
}
.sidenav-top{
	padding: 5% 2%;
}
.sidenav a{
	font-weight: 600;
	font-style: normal;
    color: #888c9dbf !important;
}
/* The navigation menu links */
.sidenav a > h6, .sidenav a > h4 {
    margin-bottom: 0;
	padding: 20px 8px 20px 32px;
	text-decoration: none;
	color: #818181;
	display: flex;
	justify-content: space-between;
    font-family: work-sans,sans-serif;
	font-weight: 600;
	font-style: normal;
    color: #888c9dbf;
    transition: all 0.2s ease-in-out;
}
.sidenav a > h4{
	padding-right: 5%;
}
.sidenav a:hover{
	background-color: black;
    transition: all 0.2s ease-in-out;
}
.sidenav a{
	display: flex;
	align-items: center;
}
.sidenav a:hover>h3{
	color:white;
}
.sidenav a:hover>h4, .sidenav a:hover>h6{
	color: white !important;
}
.sidenav-link-bloque{
	margin-top: 5%;
}

.sidenav-link{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-top: 1px solid black;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: white;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	font-size: 36px;
	padding-right: 5%;
    width: 30px;
    height: 30px;
	border-radius: 0.3rem;
	align-items: center;
	display: flex;
	justify-content: center;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav-dropdown-link{
    width: 100%;
    padding: 6.2%;
    height: 70px;
}

/* row class'ının neden olduğu sorunlar için */
.row{ 
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sidebar-bloque{
    transition: all 0.5s ease-in-out;
    position: relative;
    height: 100vh;
    position: sticky;
    z-index: 5;
    padding: 1.5% 1.9%;
    box-shadow: 9px 0px 9px -2px rgba(0,0,0,0.24);
}
.logo-bloque{
    transition: all 0.25s ease-in-out;
    width: 200px;
    height: 60px;
}
.header-icon-bloque{
    width: 30px;
    height: 30px;
    margin-right: 3%;
}
.sidebar-links-bloque{
    margin-top: 15vh;
}
.sidebar-links-bloque h6{
    margin-bottom: 0 !important;
    transition: all 0.5s ease-in-out;
    color: #4e5360;
    padding-left: 0.7rem;
}
.nowrapClass {
    display: inline-flex;
    white-space: nowrap;
}
.dropdown-toggle::after{
    display: none;
}
.sidebar-links-bloque .dropdown-toggle::after{
    display: none;
}
.sidebar-links-bloque .dropdown-item.active, .dropdown-item:active{
    background-color: #f0bc56;
}
.dropdown-menu{
    border-radius: 0 !important;
}
.header-link{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
}
.header-link:hover{
    text-decoration: none;
}
.header-link h6{
    margin-bottom: 0 !important;
    transition: all 0.5s ease-in-out;
    color: #4e5360;
    padding-left: 0.7rem;
}
.sidebar-link{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    white-space: nowrap;
}
.seperate-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-link:hover{
    text-decoration: none;
}
.icon-size{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.icon-size-2x{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
#sidebar-toggle{
    transition: all 0.2s ease-in-out;
}
#sidebar-toogle:hover{
    transition: all 0.2s ease-in-out;
    background-color: black;
}

.main-bloque{
    width: 100%;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
.width-8{
    flex: 0 0 6%;
    max-width: 6%;
    transition: all 0.5s ease-in-out;
}

.width-92{
    flex: 0 0 94%;
    max-width: 94%;
    transition: all 0.5s ease-in-out;
}
.width-100{
    flex: 0 0 100%;
    max-width: 100%;
    transition: all 0.5s ease-in-out;
}
header{
    height: 12vh;
    display: flex;
    align-items: center;
    box-shadow: 3px 13px 18px 4px rgba(0,0,0,0.25);
}
header .dropdown-toggle::after{
    display: none;
}
.content-section{
    background-color: #efefef;
}